# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/

# Local archives/data
archive/
